<style>
    .try{
        color:blue;
    }
    header{
        border-bottom: 80px solid black;
        border-top:80px solid  black;
        border-left:80px solid black;
        border-right:80px solid black;
        margin:0px 100px;
    }
    body{
        background-color:black;
        margin: 0;
        padding: 0;
    }
    .two{
        color:white;
        font-size:32px;
        font-family:monospace;
        text-align:center;
        display:inherit;
        animation: animate 7s linear forwards;
        overflow: hidden; 
        position: relative;
        bottom: 23px;
    }
    @keyframes animate { 
        0% { 
            width:0px; 
            height:10px; 
        } 
        99%{
            width:0px;
            height:10px;
        }
    }
    .leftOPT{
        color:rgba(255, 255, 255, 0);
        font-size:32px;
        font-family:monospace;
        text-align:left;
        text-decoration: none;
        margin: -400px 390px;
        overflow: hidden; 
        animation: animate 7s linear forwards;
        display:inherit;
        position:absolute;
    }
    @keyframes animate { 
        0% { 
            width:0px; 
            height:70px; 
        } 
        99%{
            width:0px;
            height:70px;
        }
    }
    .rightOPT{
        color:rgba(255, 255, 255, 0);
        font-size:32px;
        font-family:monospace;
        text-align:right;
        text-decoration: none;
        margin:-355px 630px;
        overflow: hidden; 
        animation: animate 7s linear forwards;
        display:inherit;
        position:absolute;
    }
    @keyframes animate { 
        0% { 
            width:0px; 
            height: 17px; 
        } 
        99%{
            width:0px;
            height:17px;
        }
    }
</style>
